<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"/>

<plist version="1.0">
    <dict>
        <key>code_1</key>
        <array>
            <integer>0</integer>
            <integer>0</integer>
            <integer>0</integer>
            <integer>0</integer>
            <integer>66</integer>
            <integer>54</integer>
            <integer>54</integer>
            <integer>48</integer>
            <integer>68</integer>
            <integer>69</integer>
            <integer>57</integer>
            <integer>50</integer>
            <integer>55</integer>
            <integer>48</integer>
            <integer>49</integer>
            <integer>67</integer>
            <integer>52</integer>
            <integer>49</integer>
            <integer>55</integer>
            <integer>57</integer>
            <integer>52</integer>
            <integer>57</integer>
            <integer>70</integer>
            <integer>54</integer>
            <integer>48</integer>
            <integer>66</integer>
            <integer>69</integer>
            <integer>56</integer>
            <integer>49</integer>
            <integer>69</integer>
            <integer>55</integer>
            <integer>50</integer>
            <integer>57</integer>
            <integer>57</integer>
            <integer>54</integer>
            <integer>52</integer>
            <integer>90</integer>
            <integer>90</integer>
            <integer>66</integer>
            <integer>87</integer>
            <integer>89</integer>
            <integer>49</integer>
            <integer>49</integer>
            <integer>49</integer>
        </array>
        <key>code_2</key>
        <array>
            <integer>0</integer>
            <integer>0</integer>
            <integer>0</integer>
            <integer>0</integer>
            <integer>57</integer>
            <integer>54</integer>
            <integer>69</integer>
            <integer>55</integer>
            <integer>57</integer>
            <integer>50</integer>
            <integer>49</integer>
            <integer>56</integer>
            <integer>57</integer>
            <integer>54</integer>
            <integer>53</integer>
            <integer>69</integer>
            <integer>66</integer>
            <integer>55</integer>
            <integer>50</integer>
            <integer>67</integer>
            <integer>57</integer>
            <integer>50</integer>
            <integer>65</integer>
            <integer>53</integer>
            <integer>52</integer>
            <integer>57</integer>
            <integer>68</integer>
            <integer>68</integer>
            <integer>53</integer>
            <integer>65</integer>
            <integer>51</integer>
            <integer>51</integer>
            <integer>48</integer>
            <integer>49</integer>
            <integer>49</integer>
            <integer>50</integer>
            <integer>49</integer>
            <integer>49</integer>
            <integer>49</integer>
            <integer>49</integer>
            <integer>49</integer>
            <integer>49</integer>
        </array>
    </dict>
</plist>
