<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ani_plazzcoin_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{60,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>ani_plazzcoin_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,64},{60,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{60,58}}</string>
                <key>sourceSize</key>
                <string>{64,62}</string>
            </dict>
            <key>ani_plazzcoin_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,182},{58,52}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{58,52}}</string>
                <key>sourceSize</key>
                <string>{62,58}</string>
            </dict>
            <key>ani_plazzcoin_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{58,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{58,42}}</string>
                <key>sourceSize</key>
                <string>{62,48}</string>
            </dict>
            <key>ani_plazzcoin_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,330},{58,38}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{58,38}}</string>
                <key>sourceSize</key>
                <string>{62,42}</string>
            </dict>
            <key>ani_plazzcoin_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,236},{58,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{58,48}}</string>
                <key>sourceSize</key>
                <string>{64,52}</string>
            </dict>
            <key>ani_plazzcoin_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{60,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{60,56}}</string>
                <key>sourceSize</key>
                <string>{64,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>plaza.png</string>
            <key>size</key>
            <string>{64,370}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dfc5a6d1a15c5f3d6a4be0d4743d51f2:cea29f0d3e60bf0028937628d2f0b1ca:e0806e90bb9996875a6dfb603b5efd84$</string>
            <key>textureFileName</key>
            <string>plaza.png</string>
        </dict>
    </dict>
</plist>
