<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>jump_nvGuoWang_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{134,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>
			<key>jump_lanZuan_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,134},{134,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>
			<key>jump_shiZiJia_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,268},{134,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>
			<key>jump_king_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,402},{134,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>
			<key>jump_gouTou_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,536},{134,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>
			<key>jump_yaoShi_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,670},{134,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>
			<key>jump_wild_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,804},{134,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>
			<key>jump_renShi_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{134,0},{134,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>
			<key>jump_scatter_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{536,0},{134,133}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>
			<key>jump_bonus_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{268,0},{134,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>
			<key>jump_yingZui_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{402,0},{134,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>
			<key>jump_bonus_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,938},{134,67}}</string>
				<key>offset</key>
				<string>{0,34}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>
			<key>jump_bonus_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{670,0},{134,89}}</string>
				<key>offset</key>
				<string>{0,-22}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>
			<key>jump_bonus_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{804,0},{134,89}}</string>
				<key>offset</key>
				<string>{0,23}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>
			<key>jump_gouTou_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{670,89},{134,89}}</string>
				<key>offset</key>
				<string>{0,-22}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>
			<key>jump_gouTou_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{938,0},{134,67}}</string>
				<key>offset</key>
				<string>{0,34}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>
			<key>jump_gouTou_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{536,133},{134,89}}</string>
				<key>offset</key>
				<string>{0,23}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>
			<key>jump_king_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{804,89},{134,89}}</string>
				<key>offset</key>
				<string>{0,-22}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>
			<key>jump_king_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{938,134},{134,67}}</string>
				<key>offset</key>
				<string>{0,34}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>
			<key>jump_king_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{670,178},{134,89}}</string>
				<key>offset</key>
				<string>{0,23}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>
			<key>jump_lanZuan_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{804,178},{134,89}}</string>
				<key>offset</key>
				<string>{0,-22}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>
			<key>jump_lanZuan_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{938,268},{134,67}}</string>
				<key>offset</key>
				<string>{0,34}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>
			<key>jump_lanZuan_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{134,134},{134,89}}</string>
				<key>offset</key>
				<string>{0,23}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>
			<key>jump_nvGuoWang_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{268,134},{134,89}}</string>
				<key>offset</key>
				<string>{0,-22}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>
			<key>jump_nvGuoWang_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{938,402},{134,67}}</string>
				<key>offset</key>
				<string>{0,34}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>
			<key>jump_nvGuoWang_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{402,134},{134,89}}</string>
				<key>offset</key>
				<string>{0,23}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>
			<key>jump_renShi_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{536,222},{134,89}}</string>
				<key>offset</key>
				<string>{0,-22}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>
			<key>jump_renShi_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{536,400},{134,67}}</string>
				<key>offset</key>
				<string>{0,34}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>
			<key>jump_renShi_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{670,267},{134,89}}</string>
				<key>offset</key>
				<string>{0,23}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>
			<key>jump_scatter_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{804,267},{134,89}}</string>
				<key>offset</key>
				<string>{0,-22}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>
			<key>jump_scatter_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{402,401},{134,66}}</string>
				<key>offset</key>
				<string>{0,34}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>
			<key>jump_scatter_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{134,223},{134,89}}</string>
				<key>offset</key>
				<string>{0,23}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>
			<key>jump_shiZiJia_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{268,223},{134,89}}</string>
				<key>offset</key>
				<string>{0,-22}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>
			<key>jump_shiZiJia_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{670,445},{134,67}}</string>
				<key>offset</key>
				<string>{0,34}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>
			<key>jump_shiZiJia_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{402,223},{134,89}}</string>
				<key>offset</key>
				<string>{0,23}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>
			<key>jump_wild_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{536,311},{134,89}}</string>
				<key>offset</key>
				<string>{0,-22}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>
			<key>jump_wild_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{804,445},{134,67}}</string>
				<key>offset</key>
				<string>{0,34}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>
			<key>jump_wild_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{670,356},{134,89}}</string>
				<key>offset</key>
				<string>{0,23}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>
			<key>jump_yaoShi_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{804,356},{134,89}}</string>
				<key>offset</key>
				<string>{0,-22}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>
			<key>jump_yaoShi_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{134,401},{134,67}}</string>
				<key>offset</key>
				<string>{0,34}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>
			<key>jump_yaoShi_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{134,312},{134,89}}</string>
				<key>offset</key>
				<string>{0,23}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>
			<key>jump_yingZui_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{268,312},{134,89}}</string>
				<key>offset</key>
				<string>{0,-22}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>
			<key>jump_yingZui_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{268,401},{134,67}}</string>
				<key>offset</key>
				<string>{0,34}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>
			<key>jump_yingZui_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{402,312},{134,89}}</string>
				<key>offset</key>
				<string>{0,23}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>
			<key>jump_nvGuoWang_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{134,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>
			<key>jump_lanZuan_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,134},{134,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>
			<key>jump_shiZiJia_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,268},{134,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>
			<key>jump_king_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,402},{134,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>
			<key>jump_gouTou_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,536},{134,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>
			<key>jump_yaoShi_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,670},{134,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>
			<key>jump_wild_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,804},{134,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>
			<key>jump_renShi_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{134,0},{134,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>
			<key>jump_scatter_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{536,0},{134,133}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>
			<key>jump_bonus_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{268,0},{134,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>
			<key>jump_yingZui_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{402,0},{134,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>game1_itemJump.png</string>
			<key>realTextureFileName</key>
			<string>game1_itemJump.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>