<?xml version="1.0"?>
<Project xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <propertyGroup>
    <StartProgram>F:\bigwin\Mobile\run\debug\win32\GloryProject.exe</StartProgram>
    <StartArguments>F:\bigwin\Mobile\client</StartArguments>
    <StartWorkingDirectory>F:\bigwin\Mobile\client</StartWorkingDirectory>
  </propertyGroup>
</Project>