<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bigwin_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2074},{930,256}}</string>
                <key>offset</key>
                <string>{21,119}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,128},{930,256}}</string>
                <key>sourceSize</key>
                <string>{1334,750}</string>
            </dict>
            <key>bigwin_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1010,1750},{968,330}}</string>
                <key>offset</key>
                <string>{22,156}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,54},{968,330}}</string>
                <key>sourceSize</key>
                <string>{1334,750}</string>
            </dict>
            <key>bigwin_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{3576,1116},{1006,330}}</string>
                <key>offset</key>
                <string>{22,156}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,54},{1006,330}}</string>
                <key>sourceSize</key>
                <string>{1334,750}</string>
            </dict>
            <key>bigwin_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2568,1116},{1006,378}}</string>
                <key>offset</key>
                <string>{22,180}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,6},{1006,378}}</string>
                <key>sourceSize</key>
                <string>{1334,750}</string>
            </dict>
            <key>bigwin_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1010,1364},{1006,384}}</string>
                <key>offset</key>
                <string>{22,183}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,0},{1006,384}}</string>
                <key>sourceSize</key>
                <string>{1334,750}</string>
            </dict>
            <key>bigwin_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1050},{1006,384}}</string>
                <key>offset</key>
                <string>{22,183}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,0},{1006,384}}</string>
                <key>sourceSize</key>
                <string>{1334,750}</string>
            </dict>
            <key>magewin_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,592},{1224,456}}</string>
                <key>offset</key>
                <string>{6,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,127},{1224,456}}</string>
                <key>sourceSize</key>
                <string>{1334,750}</string>
            </dict>
            <key>magewin_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2018,1600},{968,330}}</string>
                <key>offset</key>
                <string>{22,156}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,54},{968,330}}</string>
                <key>sourceSize</key>
                <string>{1334,750}</string>
            </dict>
            <key>magewin_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2602,584},{1268,530}}</string>
                <key>offset</key>
                <string>{-1,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,54},{1268,530}}</string>
                <key>sourceSize</key>
                <string>{1334,750}</string>
            </dict>
            <key>magewin_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2602,2},{1298,580}}</string>
                <key>offset</key>
                <string>{2,78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,7},{1298,580}}</string>
                <key>sourceSize</key>
                <string>{1334,750}</string>
            </dict>
            <key>magewin_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1302,2},{1298,588}}</string>
                <key>offset</key>
                <string>{2,81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{1298,588}}</string>
                <key>sourceSize</key>
                <string>{1334,750}</string>
            </dict>
            <key>magewin_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1298,588}}</string>
                <key>offset</key>
                <string>{2,81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{1298,588}}</string>
                <key>sourceSize</key>
                <string>{1334,750}</string>
            </dict>
            <key>win_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1816},{930,256}}</string>
                <key>offset</key>
                <string>{21,119}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,128},{930,256}}</string>
                <key>sourceSize</key>
                <string>{1334,750}</string>
            </dict>
            <key>win_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2568,1496},{968,330}}</string>
                <key>offset</key>
                <string>{22,156}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,54},{968,330}}</string>
                <key>sourceSize</key>
                <string>{1334,750}</string>
            </dict>
            <key>win_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2236,592},{1006,330}}</string>
                <key>offset</key>
                <string>{22,156}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,54},{1006,330}}</string>
                <key>sourceSize</key>
                <string>{1334,750}</string>
            </dict>
            <key>win_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1436},{1006,378}}</string>
                <key>offset</key>
                <string>{22,180}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,6},{1006,378}}</string>
                <key>sourceSize</key>
                <string>{1334,750}</string>
            </dict>
            <key>win_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1228,978},{1006,384}}</string>
                <key>offset</key>
                <string>{22,183}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,0},{1006,384}}</string>
                <key>sourceSize</key>
                <string>{1334,750}</string>
            </dict>
            <key>win_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1228,592},{1006,384}}</string>
                <key>offset</key>
                <string>{22,183}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,0},{1006,384}}</string>
                <key>sourceSize</key>
                <string>{1334,750}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>winPlist.png</string>
            <key>size</key>
            <string>{4096,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4d2a5632c1cd40db48733acff6a14472$</string>
            <key>textureFileName</key>
            <string>winPlist.png</string>
        </dict>
    </dict>
</plist>
