<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jump_dadao_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,340},{134,161}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,5},{134,161}}</string>
                <key>sourceSize</key>
                <string>{160,169}</string>
            </dict>
            <key>jump_dadao_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,599},{134,109}}</string>
                <key>offset</key>
                <string>{3,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,0},{134,109}}</string>
                <key>sourceSize</key>
                <string>{160,169}</string>
            </dict>
            <key>jump_dadao_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,300},{134,141}}</string>
                <key>offset</key>
                <string>{3,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,28},{134,141}}</string>
                <key>sourceSize</key>
                <string>{160,169}</string>
            </dict>
            <key>jump_dadao_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,649},{134,149}}</string>
                <key>offset</key>
                <string>{3,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{134,149}}</string>
                <key>sourceSize</key>
                <string>{160,169}</string>
            </dict>
            <key>jump_dadao_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,456},{134,141}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,15},{134,141}}</string>
                <key>sourceSize</key>
                <string>{160,169}</string>
            </dict>
            <key>jump_futou_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,659},{124,153}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,10},{124,153}}</string>
                <key>sourceSize</key>
                <string>{160,169}</string>
            </dict>
            <key>jump_futou_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,575},{124,129}}</string>
                <key>offset</key>
                <string>{4,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,0},{124,129}}</string>
                <key>sourceSize</key>
                <string>{160,169}</string>
            </dict>
            <key>jump_futou_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,421},{124,125}}</string>
                <key>offset</key>
                <string>{4,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,44},{124,125}}</string>
                <key>sourceSize</key>
                <string>{160,169}</string>
            </dict>
            <key>jump_futou_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{661,2},{124,139}}</string>
                <key>offset</key>
                <string>{4,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,0},{124,139}}</string>
                <key>sourceSize</key>
                <string>{160,169}</string>
            </dict>
            <key>jump_futou_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,735},{124,133}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,20},{124,133}}</string>
                <key>sourceSize</key>
                <string>{160,169}</string>
            </dict>
            <key>jump_lin_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,659},{144,151}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,9},{144,151}}</string>
                <key>sourceSize</key>
                <string>{160,169}</string>
            </dict>
            <key>jump_lin_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,2},{144,111}}</string>
                <key>offset</key>
                <string>{5,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,0},{144,111}}</string>
                <key>sourceSize</key>
                <string>{160,169}</string>
            </dict>
            <key>jump_lin_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,659},{144,151}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,13},{144,151}}</string>
                <key>sourceSize</key>
                <string>{160,169}</string>
            </dict>
            <key>jump_lin_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,310},{144,141}}</string>
                <key>offset</key>
                <string>{5,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,0},{144,141}}</string>
                <key>sourceSize</key>
                <string>{160,169}</string>
            </dict>
            <key>jump_lin_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,154},{144,133}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,18},{144,133}}</string>
                <key>sourceSize</key>
                <string>{160,169}</string>
            </dict>
            <key>jump_lu_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,473},{132,145}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,9},{132,145}}</string>
                <key>sourceSize</key>
                <string>{160,169}</string>
            </dict>
            <key>jump_lu_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,870},{132,107}}</string>
                <key>offset</key>
                <string>{5,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,0},{132,107}}</string>
                <key>sourceSize</key>
                <string>{160,169}</string>
            </dict>
            <key>jump_lu_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,473},{132,145}}</string>
                <key>offset</key>
                <string>{5,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,23},{132,145}}</string>
                <key>sourceSize</key>
                <string>{160,169}</string>
            </dict>
            <key>jump_lu_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,2},{132,135}}</string>
                <key>offset</key>
                <string>{5,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,0},{132,135}}</string>
                <key>sourceSize</key>
                <string>{160,169}</string>
            </dict>
            <key>jump_lu_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,599},{132,125}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,19},{132,125}}</string>
                <key>sourceSize</key>
                <string>{160,169}</string>
            </dict>
            <key>jump_shz_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{142,169}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{142,169}}</string>
                <key>sourceSize</key>
                <string>{160,169}</string>
            </dict>
            <key>jump_shz_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,456},{142,107}}</string>
                <key>offset</key>
                <string>{2,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{142,107}}</string>
                <key>sourceSize</key>
                <string>{160,169}</string>
            </dict>
            <key>jump_shz_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,620},{142,133}}</string>
                <key>offset</key>
                <string>{3,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,36},{142,133}}</string>
                <key>sourceSize</key>
                <string>{160,169}</string>
            </dict>
            <key>jump_shz_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,496},{142,151}}</string>
                <key>offset</key>
                <string>{3,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{142,151}}</string>
                <key>sourceSize</key>
                <string>{160,169}</string>
            </dict>
            <key>jump_shz_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,812},{142,149}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{142,149}}</string>
                <key>sourceSize</key>
                <string>{160,169}</string>
            </dict>
            <key>jump_song_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{150,161}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{150,161}}</string>
                <key>sourceSize</key>
                <string>{160,169}</string>
            </dict>
            <key>jump_song_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,2},{150,133}}</string>
                <key>offset</key>
                <string>{-5,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,133}}</string>
                <key>sourceSize</key>
                <string>{160,169}</string>
            </dict>
            <key>jump_song_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,814},{150,151}}</string>
                <key>offset</key>
                <string>{-5,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,151}}</string>
                <key>sourceSize</key>
                <string>{160,169}</string>
            </dict>
            <key>jump_song_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,321},{150,145}}</string>
                <key>offset</key>
                <string>{-5,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,24},{150,145}}</string>
                <key>sourceSize</key>
                <string>{160,169}</string>
            </dict>
            <key>jump_song_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,158},{150,141}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{150,141}}</string>
                <key>sourceSize</key>
                <string>{160,169}</string>
            </dict>
            <key>jump_ttxd_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,148},{130,139}}</string>
                <key>offset</key>
                <string>{2,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,30},{130,139}}</string>
                <key>sourceSize</key>
                <string>{160,169}</string>
            </dict>
            <key>jump_ttxd_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,870},{130,129}}</string>
                <key>offset</key>
                <string>{2,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,0},{130,129}}</string>
                <key>sourceSize</key>
                <string>{160,169}</string>
            </dict>
            <key>jump_ttxd_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{705,289},{130,105}}</string>
                <key>offset</key>
                <string>{2,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,0},{130,105}}</string>
                <key>sourceSize</key>
                <string>{160,169}</string>
            </dict>
            <key>jump_ttxd_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,800},{130,143}}</string>
                <key>offset</key>
                <string>{2,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{130,143}}</string>
                <key>sourceSize</key>
                <string>{160,169}</string>
            </dict>
            <key>jump_ttxd_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,764},{130,135}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,20},{130,135}}</string>
                <key>sourceSize</key>
                <string>{160,169}</string>
            </dict>
            <key>jump_yin_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,136},{130,135}}</string>
                <key>offset</key>
                <string>{-6,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,30},{130,135}}</string>
                <key>sourceSize</key>
                <string>{160,169}</string>
            </dict>
            <key>jump_yin_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,733},{130,127}}</string>
                <key>offset</key>
                <string>{-6,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{130,127}}</string>
                <key>sourceSize</key>
                <string>{160,169}</string>
            </dict>
            <key>jump_yin_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,443},{130,115}}</string>
                <key>offset</key>
                <string>{-6,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,54},{130,115}}</string>
                <key>sourceSize</key>
                <string>{160,169}</string>
            </dict>
            <key>jump_yin_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,136},{130,135}}</string>
                <key>offset</key>
                <string>{-6,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,31},{130,135}}</string>
                <key>sourceSize</key>
                <string>{160,169}</string>
            </dict>
            <key>jump_yin_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,901},{130,117}}</string>
                <key>offset</key>
                <string>{-6,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,39},{130,117}}</string>
                <key>sourceSize</key>
                <string>{160,169}</string>
            </dict>
            <key>jump_zyt_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,173},{154,165}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{154,165}}</string>
                <key>sourceSize</key>
                <string>{160,169}</string>
            </dict>
            <key>jump_zyt_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,2},{154,113}}</string>
                <key>offset</key>
                <string>{-1,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{154,113}}</string>
                <key>sourceSize</key>
                <string>{160,169}</string>
            </dict>
            <key>jump_zyt_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,165},{154,139}}</string>
                <key>offset</key>
                <string>{-1,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,30},{154,139}}</string>
                <key>sourceSize</key>
                <string>{160,169}</string>
            </dict>
            <key>jump_zyt_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,340},{154,139}}</string>
                <key>offset</key>
                <string>{-1,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{154,139}}</string>
                <key>sourceSize</key>
                <string>{160,169}</string>
            </dict>
            <key>jump_zyt_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,503},{154,145}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,10},{154,145}}</string>
                <key>sourceSize</key>
                <string>{160,169}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game1_itemJump.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1a794025f191f563ec2038832cf8c995$</string>
            <key>textureFileName</key>
            <string>game1_itemJump.png</string>
        </dict>
    </dict>
</plist>
