<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>common_icon_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{78,80}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,8},{78,80}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>common_icon_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{94,94}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{94,94}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>common_icon_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,2},{94,94}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{94,94}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>common_icon_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,178},{74,78}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,9},{74,78}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>common_icon_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,180},{80,80}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{80,80}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>common_icon_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,258},{72,74}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,11},{72,74}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>common_icon_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,98},{74,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{74,78}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>common_icon_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,98},{80,80}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{80,80}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>common_icon_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,274},{72,78}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,10},{72,78}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>common_icon_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,262},{72,78}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,9},{72,78}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>common_icon_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{94,94}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{94,94}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game1_itemCommon.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8ff911580e5ce15fb1b20704c693be1a$</string>
            <key>textureFileName</key>
            <string>game1_itemCommon.png</string>
        </dict>
    </dict>
</plist>
