<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bt_callBanker_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,533},{145,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,78}}</string>
                <key>sourceSize</key>
                <string>{145,78}</string>
            </dict>
            <key>bt_callBanker_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{709,613},{133,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{133,70}}</string>
                <key>sourceSize</key>
                <string>{145,78}</string>
            </dict>
            <key>bt_cancel_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,485},{145,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,78}}</string>
                <key>sourceSize</key>
                <string>{145,78}</string>
            </dict>
            <key>bt_cancel_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,888},{133,74}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{133,74}}</string>
                <key>sourceSize</key>
                <string>{145,78}</string>
            </dict>
            <key>bt_chat_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,791},{116,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,114}}</string>
                <key>sourceSize</key>
                <string>{116,114}</string>
            </dict>
            <key>bt_chat_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,893},{100,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,8},{100,98}}</string>
                <key>sourceSize</key>
                <string>{116,114}</string>
            </dict>
            <key>bt_chip_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,540},{145,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,64}}</string>
                <key>sourceSize</key>
                <string>{145,64}</string>
            </dict>
            <key>bt_chip_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,533},{145,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,64}}</string>
                <key>sourceSize</key>
                <string>{145,64}</string>
            </dict>
            <key>bt_exitSetLayer_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,350},{85,83}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{85,83}}</string>
                <key>sourceSize</key>
                <string>{87,87}</string>
            </dict>
            <key>bt_exitSetLayer_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,350},{85,85}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,85}}</string>
                <key>sourceSize</key>
                <string>{87,87}</string>
            </dict>
            <key>bt_exit_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,822},{116,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,114}}</string>
                <key>sourceSize</key>
                <string>{116,114}</string>
            </dict>
            <key>bt_exit_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,685},{100,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,8},{100,98}}</string>
                <key>sourceSize</key>
                <string>{116,114}</string>
            </dict>
            <key>bt_howPlay_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,822},{116,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,114}}</string>
                <key>sourceSize</key>
                <string>{116,114}</string>
            </dict>
            <key>bt_howPlay_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,791},{100,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,8},{100,98}}</string>
                <key>sourceSize</key>
                <string>{116,114}</string>
            </dict>
            <key>bt_off_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,565},{139,67}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,11},{139,67}}</string>
                <key>sourceSize</key>
                <string>{169,89}</string>
            </dict>
            <key>bt_off_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,449},{149,89}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,89}}</string>
                <key>sourceSize</key>
                <string>{169,89}</string>
            </dict>
            <key>bt_on_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,606},{137,67}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,11},{137,67}}</string>
                <key>sourceSize</key>
                <string>{169,89}</string>
            </dict>
            <key>bt_on_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,855},{151,89}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,0},{151,89}}</string>
                <key>sourceSize</key>
                <string>{169,89}</string>
            </dict>
            <key>bt_prompt_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,651},{145,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,78}}</string>
                <key>sourceSize</key>
                <string>{145,78}</string>
            </dict>
            <key>bt_prompt_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,888},{133,71}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{133,71}}</string>
                <key>sourceSize</key>
                <string>{145,77}</string>
            </dict>
            <key>bt_set_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,706},{116,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,114}}</string>
                <key>sourceSize</key>
                <string>{116,114}</string>
            </dict>
            <key>bt_set_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,909},{100,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,8},{100,98}}</string>
                <key>sourceSize</key>
                <string>{116,114}</string>
            </dict>
            <key>bt_showCard_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,504},{145,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,78}}</string>
                <key>sourceSize</key>
                <string>{145,78}</string>
            </dict>
            <key>bt_showCard_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,634},{133,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{133,70}}</string>
                <key>sourceSize</key>
                <string>{145,78}</string>
            </dict>
            <key>bt_start_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,266},{169,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{169,90}}</string>
                <key>sourceSize</key>
                <string>{169,92}</string>
            </dict>
            <key>bt_start_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,855},{157,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,5},{157,82}}</string>
                <key>sourceSize</key>
                <string>{169,92}</string>
            </dict>
            <key>bt_switch_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,675},{116,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,114}}</string>
                <key>sourceSize</key>
                <string>{116,114}</string>
            </dict>
            <key>bt_switch_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,909},{100,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,8},{100,98}}</string>
                <key>sourceSize</key>
                <string>{116,114}</string>
            </dict>
            <key>cardBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{781,210}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{781,210}}</string>
                <key>sourceSize</key>
                <string>{781,214}</string>
            </dict>
            <key>game_chat_lbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,423},{180,108}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{180,108}}</string>
                <key>sourceSize</key>
                <string>{180,110}</string>
            </dict>
            <key>game_chat_rbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,339},{180,108}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{180,108}}</string>
                <key>sourceSize</key>
                <string>{180,110}</string>
            </dict>
            <key>ox_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{777,271},{207,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,77}}</string>
                <key>sourceSize</key>
                <string>{207,77}</string>
            </dict>
            <key>ox_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,350},{207,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,71}}</string>
                <key>sourceSize</key>
                <string>{207,71}</string>
            </dict>
            <key>ox_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{785,191},{210,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,78}}</string>
                <key>sourceSize</key>
                <string>{210,78}</string>
            </dict>
            <key>ox_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,412},{207,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,71}}</string>
                <key>sourceSize</key>
                <string>{207,71}</string>
            </dict>
            <key>ox_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,339},{207,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,71}}</string>
                <key>sourceSize</key>
                <string>{207,71}</string>
            </dict>
            <key>ox_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,646},{207,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,71}}</string>
                <key>sourceSize</key>
                <string>{207,71}</string>
            </dict>
            <key>ox_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,437},{207,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,71}}</string>
                <key>sourceSize</key>
                <string>{207,71}</string>
            </dict>
            <key>ox_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,646},{207,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,71}}</string>
                <key>sourceSize</key>
                <string>{207,71}</string>
            </dict>
            <key>ox_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,437},{207,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,71}}</string>
                <key>sourceSize</key>
                <string>{207,71}</string>
            </dict>
            <key>ox_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,646},{207,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,71}}</string>
                <key>sourceSize</key>
                <string>{207,71}</string>
            </dict>
            <key>ox_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,437},{207,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,71}}</string>
                <key>sourceSize</key>
                <string>{207,71}</string>
            </dict>
            <key>oxex_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{785,2},{187,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,227}}</string>
                <key>sourceSize</key>
                <string>{187,227}</string>
            </dict>
            <key>oxex_frameTop.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,423},{79,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,79}}</string>
                <key>sourceSize</key>
                <string>{79,79}</string>
            </dict>
            <key>prompt.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,271},{615,99}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{615,99}}</string>
                <key>sourceSize</key>
                <string>{643,101}</string>
            </dict>
            <key>score_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,651},{135,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,70}}</string>
                <key>sourceSize</key>
                <string>{135,70}</string>
            </dict>
            <key>sp_buttonBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,214},{123,575}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,575}}</string>
                <key>sourceSize</key>
                <string>{123,575}</string>
            </dict>
            <key>sprite_clock.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,540},{106,105}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{106,105}}</string>
                <key>sourceSize</key>
                <string>{108,105}</string>
            </dict>
            <key>sprite_openCard.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,214},{97,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,50}}</string>
                <key>sourceSize</key>
                <string>{97,50}</string>
            </dict>
            <key>sprite_prompt.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,214},{97,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,51}}</string>
                <key>sourceSize</key>
                <string>{97,51}</string>
            </dict>
            <key>symbol_add.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,271},{31,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,28}}</string>
                <key>sourceSize</key>
                <string>{31,28}</string>
            </dict>
            <key>symbol_reduce.png</key>
            <dict>
                <key>frame</key>
                <string>{{997,191},{20,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,15}}</string>
                <key>sourceSize</key>
                <string>{20,15}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameScene_oxex.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fbe5051e9bb89b39ce85813f7ec7cbe4$</string>
            <key>textureFileName</key>
            <string>gameScene_oxex.png</string>
        </dict>
    </dict>
</plist>
