<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>action_title_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,800},{216,82}}</string>
                <key>offset</key>
                <string>{4,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,22},{216,82}}</string>
                <key>sourceSize</key>
                <string>{400,160}</string>
            </dict>
            <key>action_title_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,800},{234,82}}</string>
                <key>offset</key>
                <string>{2,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,27},{234,82}}</string>
                <key>sourceSize</key>
                <string>{400,160}</string>
            </dict>
            <key>action_title_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,760},{238,80}}</string>
                <key>offset</key>
                <string>{5,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,30},{238,80}}</string>
                <key>sourceSize</key>
                <string>{400,160}</string>
            </dict>
            <key>action_title_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,716},{246,82}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,39},{246,82}}</string>
                <key>sourceSize</key>
                <string>{400,160}</string>
            </dict>
            <key>action_title_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,496},{254,76}}</string>
                <key>offset</key>
                <string>{-15,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,32},{254,76}}</string>
                <key>sourceSize</key>
                <string>{400,160}</string>
            </dict>
            <key>action_title_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,332},{304,112}}</string>
                <key>offset</key>
                <string>{-2,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,40},{304,112}}</string>
                <key>sourceSize</key>
                <string>{400,160}</string>
            </dict>
            <key>action_title_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,284},{320,116}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,36},{320,116}}</string>
                <key>sourceSize</key>
                <string>{400,160}</string>
            </dict>
            <key>action_title_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{328,126}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,25},{328,126}}</string>
                <key>sourceSize</key>
                <string>{400,160}</string>
            </dict>
            <key>action_title_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,2},{328,116}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,23},{328,116}}</string>
                <key>sourceSize</key>
                <string>{400,160}</string>
            </dict>
            <key>action_title_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{328,80}}</string>
                <key>offset</key>
                <string>{1,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,28},{328,80}}</string>
                <key>sourceSize</key>
                <string>{400,160}</string>
            </dict>
            <key>action_title_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,212},{324,70}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,33},{324,70}}</string>
                <key>sourceSize</key>
                <string>{400,160}</string>
            </dict>
            <key>action_title_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,402},{270,92}}</string>
                <key>offset</key>
                <string>{4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,28},{270,92}}</string>
                <key>sourceSize</key>
                <string>{400,160}</string>
            </dict>
            <key>action_title_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,574},{252,88}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,31},{252,88}}</string>
                <key>sourceSize</key>
                <string>{400,160}</string>
            </dict>
            <key>action_title_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,638},{248,76}}</string>
                <key>offset</key>
                <string>{4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,37},{248,76}}</string>
                <key>sourceSize</key>
                <string>{400,160}</string>
            </dict>
            <key>action_title_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,664},{246,94}}</string>
                <key>offset</key>
                <string>{7,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,28},{246,94}}</string>
                <key>sourceSize</key>
                <string>{400,160}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shz_title.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7c8f58ca046aaee8206bb56f7f43d43b$</string>
            <key>textureFileName</key>
            <string>shz_title.png</string>
        </dict>
    </dict>
</plist>
